version: '3.0'

services:
  grafana:
    container_name: 'grafana-datasourcehttpbackend-datasource'
    build:
      context: ./.config
      args:
        grafana_image: ${GRAFANA_IMAGE:-grafana-enterprise}
        grafana_version: ${GRAFANA_VERSION:-10.3.3}
    ports:
      - 3000:3000/tcp
    volumes:
      - ./dist:/var/lib/grafana/plugins/grafana-datasourcehttpbackend-datasource
      - ./provisioning:/etc/grafana/provisioning
    extra_hosts:
      - 'host.docker.internal:host-gateway'
  mockserver:
    container_name: 'mockserver-datasourcehttpbackend-datasource'
    build:
      context: ./server
    ports:
      - 10000:10000/tcp
