name: Update Grafana Version

on:
  schedule:
    - cron: "0 8 * * *"
  workflow_dispatch:

jobs:
  update-grafana:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
      id-token: write
    steps:
      - id: get-secrets
        uses: grafana/shared-workflows/actions/get-vault-secrets@28361cdb22223e5f1e34358c86c20908e7248760 # get-vault-secrets-v1.1.0
        with:
          # Secrets placed in the ci/repo/grafana/grafana-plugin-examples path in Vault
          repo_secrets: |
            GITHUB_APP_ID=plugins-platform-bot-app:app_id
            GITHUB_APP_PRIVATE_KEY=plugins-platform-bot-app:app_pem

      - name: Generate token
        id: generate_token
        uses: actions/create-github-app-token@3ff1caaa28b64c9cc276ce0a02e2ff584f3900c5 # v2.0.2
        with:
          app-id: ${{ env.GITHUB_APP_ID }}
          private-key: ${{ env.GITHUB_APP_PRIVATE_KEY }}

      - name: Checkout repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          persist-credentials: false

      - name: Update Grafana version
        run: |
          bash scripts/update-grafana-version.sh

      - name: Check for changes
        id: status
        run: |
          if [[ -n "$(git status --porcelain)" ]]; then
            echo "Has changes to commit"
            echo "has_changes=true" >> $GITHUB_OUTPUT
          else
            echo "No changes to commit"
            echo "has_changes=false" >> $GITHUB_OUTPUT
          fi
      - name: Create PR
        id: create_pr
        if: ${{ steps.status.outputs.has_changes == 'true' }}
        uses: peter-evans/create-pull-request@271a8d0340265f705b14b6d32b9829c1cb33d45e # v7.0.8
        with:
          token: ${{ steps.generate_token.outputs.token }}
          branch: new-update-plugin-examples
          #  Author field is ignored when sign-commits is set to true
          # author: github-actions[bot] <41898282+github-actions[bot]@users.noreply.github.com>
          delete-branch: true
          commit-message: "chore: update configuration to latest version"
          sign-commits: true
          title: "Chore: Bump plugin-examples configuration to latest version"
          body: |
            Bumps [`grafana-plugin-examples`](https://github.com/grafana/grafana-plugin-examples) configuration to the latest version.

            **Notes for reviewer:**
            This is an auto-generated PR which ran `npx -y @grafana/create-plugin@latest update`, updates plugin.json files, grafana-plugin-sdk-go and docker-compose files for each plugin example

      - name: Enable auto-merge for PR
        if: steps.status.outputs.has_changes == 'true'
        run: gh pr merge $PR_URL --auto --squash
        env:
          PR_URL: https://github.com/grafana/grafana-plugin-examples/pull/${{ steps.create_pr.outputs.pull-request-number }}
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}

      - name: Auto approve PR
        if: steps.status.outputs.has_changes == 'true'
        run: gh pr review $PR_URL --approve -b "Approving update"
        env:
          PR_URL: https://github.com/grafana/grafana-plugin-examples/pull/${{ steps.create_pr.outputs.pull-request-number }}
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
