name: Lapo Docs - Notify Plugin Tools on Code changes

on:
  pull_request:
    types: [closed]
    branches: [main]

permissions:
  contents: read
  id-token: write

jobs:
  notify-plugin-tools:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Check for relevant file changes
        id: check_files
        run: |
          CHANGED_FILES=$(git diff --name-only ${{ github.event.pull_request.base.sha }} $COMMIT_SHA)
          echo "$CHANGED_FILES" > /tmp/changed_files.txt
          if grep -i -E "\.(ts|tsx|go)$" /tmp/changed_files.txt; then
            echo "has_relevant_changes=true" >> "$GITHUB_OUTPUT"
          else
            echo "has_relevant_changes=false" >> "$GITHUB_OUTPUT"
          fi
        shell: bash
        env:
          COMMIT_SHA: ${{ github.event.pull_request.merge_commit_sha }}

      - id: get-secrets
        uses: grafana/shared-workflows/actions/get-vault-secrets@get-vault-secrets/v1.3.0 # zizmor: ignore[unpinned-uses] provided by grafana
        with:
          export_env: false
          # Secrets placed in the ci/repo/grafana/grafana-plugin-examples path in Vault
          repo_secrets: |
            GITHUB_APP_ID=plugins-platform-bot-app:app_id
            GITHUB_APP_PRIVATE_KEY=plugins-platform-bot-app:app_pem

      - name: Generate token
        if: steps.check_files.outputs.has_relevant_changes == 'true'
        id: generate_token
        uses: actions/create-github-app-token@7e473efe3cb98aa54f8d4bac15400b15fad77d94 # v2.2.0
        with:
          app-id: ${{ fromJSON(steps.get-secrets.outputs.secrets).GITHUB_APP_ID }}
          private-key: ${{ fromJSON(steps.get-secrets.outputs.secrets).GITHUB_APP_PEM }}
          permission-contents: write

      - name: Repository Dispatch
        if: steps.check_files.outputs.has_relevant_changes == 'true'
        uses: peter-evans/repository-dispatch@28959ce8df70de7be546dd1250a005dd32156697 # v4.0.1
        with:
          token: ${{ steps.generate_token.outputs.token }}
          repository: grafana/plugin-tools
          event-type: pr-merged
          client-payload: '{"pr_url": "${{ github.event.pull_request.html_url }}"}'
