name: Update plugin examples from create-plugin

on:
  schedule:
    - cron: "0 0 * * 0" # Run weekly (every Sunday at midnight UTC)
  workflow_dispatch: # Enable manual trigger
  repository_dispatch: # To trigger from plugin-tools
  push:
    branches:
      - academo/scaffold-basic-examples

jobs:
  update-examples:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          persist-credentials: false

      - name: Setup nodejs 22
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version: 22

      - name: Generate Basic Panel
        shell: bash
        run: |
          rm -rf examples/panel-basic
          npx -y @grafana/create-plugin@latest --plugin-name=basic --org-name=myorg --plugin-type=panel --no-backend
          mv myorg-basic-panel examples/panel-basic

      - name: Generate Basic Datasource
        shell: bash
        run: |
          rm -rf examples/datasource-basic
          npx -y @grafana/create-plugin@latest --plugin-name=basic --org-name=myorg --plugin-type=datasource --no-backend
          mv myorg-basic-datasource examples/datasource-basic

      - name: Generate Basic App
        shell: bash
        run: |
          rm -rf examples/app-basic
          npx -y @grafana/create-plugin@latest --plugin-name=basic --org-name=myorg --plugin-type=app --no-backend
          mv myorg-basic-app examples/app-basic

      - name: Generate Backend Datasource
        shell: bash
        run: |
          rm -rf examples/datasource-with-backend
          npx -y @grafana/create-plugin@latest --plugin-name=backend --org-name=myorg --plugin-type=datasource --backend
          mv myorg-backend-datasource examples/datasource-with-backend

      - name: Generate Backend App
        shell: bash
        run: |
          rm -rf examples/app-with-backend
          npx -y @grafana/create-plugin@latest --plugin-name=backend --org-name=myorg --plugin-type=app --backend
          mv myorg-backend-app examples/app-with-backend

      - name: Run npm install for each package.json in examples
        shell: bash
        run: |
          find examples -name "package.json" -execdir npm install \;

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@271a8d0340265f705b14b6d32b9829c1cb33d45e # v7.0.8
        with:
          title: "Chore: Update plugin examples to latest version"
          commit-message: "Automated update to latest version"
          body: |
            This is an auto-generated PR
            
            It updates all the examples based on the latest version of create-plugin.
          branch: update-plugin-examples
          delete-branch: true
          base: main

